option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "myAppId"
    MASTER_KEY: "myMasterKey"
    DATABASE_URI: "mongodb://heroku_d0glfvdr:smaeq723aphqkqmi4aiiii63m1@ds019478.mlab.com:19478/heroku_d0glfvdr"
    NODE_ENV: "production"

  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
